@{
    ViewData["Title"] = "Bosh sahifa";
    Layout = "_Landing";

}
@using Classroom.Mvc
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> options
@{
    var hostname = options.Value.Hostname;
}

<div class="loader">
    <div class="page-loader"></div>
</div>
    
<img src="~/images/demo/shard-1-5x-3.png" alt="@hostname" class="shard">

<div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
        <p class="slide-in host-name">@hostname</p>
        <p class="slide-in">Kurslaringizni online boshqarish uchun bepul platforma.</p>
        <div class="action-links slide-in">
        @if(!User.Identity.IsAuthenticated)
        {
            <h5>Mualliflashtirish</h5>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-pill align-self-center mr-2">
            <i class="fa fa-sign-in mr-1"></i> Kirish</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-light btn-pill align-self-center">
            <i class="fa fa-user-plus mr-1"></i> Ro'yxatdan o'tish</a>
        }
        else
        {
                <nav class="navbar navbar-expand-lg mb-4 leverow-home-nav">
                    <div style="margin: 0 auto;width: 79px;">
                        <img style="border-radius:15px;" src='@Url.Action("GetUserImage", "Account", new { name = User.Identity.Name })' alt="@User.Identity.Name" width="50" height="50">
                        <p class="user-name">@User.Identity.Name</p>
                    </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: #4d4451;align-items: center;display: flex;justify-content: center;"><i class="fa fa-th-list"></i></span>
          </button>
          <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown-3">
            <ul class="navbar-nav" style="flex-direction: column;">
              <li class="nav-item leverow-nav-item">
                <a class="nav-link" asp-controller="Profile" asp-action="GetCourses">Kurslar ro'yxatim
                </a>
              </li>
              <li class="nav-item leverow-nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Chiqish</a>
              </li>
            </ul>
          </div>
        </nav>
        }
        </div>
    </div>
    <div class="product-by">
        <a href="#" target="_blank">
        <p>Web ilova yaratuvchilari: </p> <a href="https://ilmhub.uz">Ilmhub IT School .NET Bootcamp #3 guruhi talabalari</a>
        </a>
    </div>
    </div>